h1,h2{
    text-align: center;
    color: white;  
}

h1{
    font-size: 2rem;
    margin: 2rem 0 1rem 0;
    font-weight: normal;
    color:cadetblue;
}

h2{
    font-size: 3rem;
    font-weight: bold;
}

